<hr class="bg-gray-200 bg-gradient-to-r-transparent h-1 w-full opacity-25 mb-6">

<div class="border-2 border-white p-2 w-fit">
  <div class="bg-white text-center py-2">
    <h2 class="text-3xl font-bold text-[#E8676B] uppercase px-4">Trending</h2>
  </div>
</div>

<%= render "top-movies", resource: @trending, limit: 8 %>

<div class="border-2 border-white p-2 w-fit mt-10">
  <div class="bg-white text-center py-2">
    <h2 class="text-3xl font-bold text-[#E8676B] uppercase px-4">Most searched</h2>
  </div>
</div>

<%= render "top-movies", resource: @most_searched, limit: 16 %>

<div class="grid grid-cols-2 gap-4 md:grid-cols-3 pt-10 justify-items-center">
  <div class="flex flex-col">
    <h2 class="text-5xl font-bold self-center text-white"><%= total_searches %></h2>
    <p class="self-center text-white uppercase">searches since the launch</p>
  </div>

  <div class="flex flex-col">
    <h2 class="text-5xl font-bold self-center text-white"><%= month_searches %></h2>
    <p class="self-center text-white uppercase">searches this year</p>
  </div>

  <div class="flex flex-col">
    <h2 class="text-5xl font-bold self-center text-white"><%= year_searches %></h2>
    <p class="self-center text-white uppercase">searches this month</p>
  </div>

</div>